html,
body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
}

button:hover {
  cursor: pointer;
}

.main-content {
  min-height: 100vh;
}

.content {
  width: 1160px;
  margin: auto;
}

@media only screen and (max-width: 1208px) {
  .content {
    width: 564px;
  }
}

@media only screen and (max-width: 564px) {
  .content {
    width: 100%;
  }
}
